<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">


<classes>
    
<class name = "selenium_concepts.Assert_Equals"/>
  <class name = "selenium_concepts.Find_Element"/> 
  <class name = "selenium_concepts.Highlight_Element"/> 
  <class name = "selenium_concepts.Alerts"/> 
  <class name = "selenium_concepts.BrokenImages"/> 
<class name = "selenium_concepts.Frames"/>

</classes>

  </test> <!-- Test -->
</suite> <!-- Suite -->
